
.button {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #5E9A13;
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
    font-family: inherit;
}

.button:hover {
    background-color: #558f2f;
}

.button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}