button {
    display: flex;
    gap: 5px;
    background-color: #5E9A13;
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 16px;
    cursor: pointer;
}